@font-face {
  font-family: Butler;
  src: url("/fonts/Butler_Black.otf");
}

* {
  font-family: "Karla", sans-serif;
  font-size: 98%;
}

video {
  border-radius: 8px;
}

button {
  text-decoration: none;
  border: none;
  outline: none !important;
}

.dots-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 98%;
  height: 63%;
}

#particle-div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: inherit;
}
.name {
  padding-top: 175px;
  padding-bottom: 0px;
}

.name-logo {
  width: 60%;
}

.name h1 {
  font-weight: 700;
  font-family: Butler;
  font-size: 900px;
}

.name ul {
  z-index: 98;
  position: relative;
}

.name ul {
  z-index: 98;
  position: relative;
}

.name ul a {
  text-decoration: none;
}

.about-text p {
  font-size: 8px;
}

.profile-img {
  width: 275px;
  padding: 25px;
  border-radius: 30px;
}

/* Navebar styles */
.navbar {
  margin-bottom: 0;
  border: none;
  z-index: 99;
}

#nav p {
  letter-spacing: 2px;
}

.navbar.navbar-default .navbar-nav > li > a,
.navbar.navbar-default .navbar-header .navbar-brand {
  font-weight: 300;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  color: #fefdeb;
}

a.nav-link {
  color: #000;
}

a.nav-link:hover {
  color: #4b6cc1;
}
.nav-logo {
  width: 50px;
  box-shadow: 5px 5px #4a6dc2;
}
.navbar {
  background: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: black !important;
}
/* End Navbar styles */

/* Social icon bounce */
i.bounce-icons {
  font-size: 4em;
}

.bounce-icons:hover {
  animation: bounce 2s infinite;
}

/* End social icon bounce */

/* Arrow Bounce  */
.arrow {
  text-align: center;
  margin: 100px 0 100px 0;
  font-weight: 800;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow i {
  font-weight: 800;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* End Arrow Bounce */

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
}

section .content-container {
  align-self: center;
}

section .content {
  padding-top: 30px;
  padding-bottom: 30px;
  /* text-align: center; */
}

section.home-intro {
  /* background-color: #afb1c9;
  background-image: url("../img/black-white.jpg"); */
}

section.home-intro h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 1.6;
}

/* Project styles */

.project-div p,
.project-div a {
  letter-spacing: 2px;
  color: #212529;
}

/* Ripple effect on project divs */
.hover-tag:hover {
  color: #212529;
}

@-webkit-keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: visible;
  }
}

.ripple-out {
  cursor: pointer;
  border-radius: 7px !important;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  outline: none;
}

.ripple-out:before {
  content: "";
  position: absolute;
  border: #4b6cc1 solid 1px;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  border-radius: 7px !important;
  outline: none;
}

.ripple-out:hover:before,
.ripple-out:focus:before,
.ripple-out:active:before {
  -webkit-animation-name: ripple-out;
  animation-name: ripple-out;
}
/* End ripple effects on project divs */

/* End Project styles */

/* Project Pop up styles */
ul.tools-used {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  padding: 0;
  margin: 10px 0;
}

.tools-used li {
  font-size: 14px;
  display: flex;
  list-style: none;
  background-color: #a4b5bf;
  color: #fff;
  padding: 2px 5px;
  margin: 5px;
  width: auto;
  border-radius: 50px;
  justify-content: center;
}

ul.tools-used button {
  margin: 0 5px;
}

ul.tools-used a {
  color: #fff;
}

.technologies img {
  width: 70px;
  height: 70px;
  margin: 20px 0;
  padding: 5px;
}

.demo-text {
  font-size: 18px;
}

.demo-btns {
  margin: 20px 0 100px 0;
  text-align: center;
}
/* End Project Pop up styles */

/* Home section styles */
section.home-intro h2 {
  font-weight: 700;
  font-size: 22px;
  color: #363b3a;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 13px;
  border-top: 3px solid #363b3a;
  display: inline-block;
}

section.home-intro ul {
  padding: 0;
  list-style-type: none;
}

section.home-intro ul li {
  display: inline;
}

section.home-intro ul li a {
  color: #000;
  transition: color 0.3s linear;
}

section.home-intro ul li a:hover,
section.home-intro ul li a:focus,
section.home-intro ul li a:active {
  color: #4b6cc1;
}

section.about {
  background-color: #1d1d1d;
  color: #fff;
  font-family: "Karla", sans-serif;
  /* width: 98%;
  margin-left: 1%;
  border-radius: 12px; */
}

section.about p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

section.about blockquote {
  font-family: "Butler", sans-serif;
  font-weight: 700;
}

blockquote {
  font-size: 24px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-container {
  border-radius: 50%;
  width: 100px;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* width: 400px; */
}
.profile-container:after {
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.profile-container:hover {
  transform: scale(0.54);
}
.profile-container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.profile-image {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.1);
  transform-origin: 50% bottom;
  /* -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out; */
  /* transition: 0.5s ease-in-out; */
  /* -webkit-transform: translateZ(0); */

  /* transition: transform 300ms; */
  cursor: alias;
}
.profile-container:hover .profile-image {
  transform: translateY(0) scale(1.2);

  /* zoom: 115%; */
}
.img1 {
  left: 50px;
  top: 170px;
  width: 340px;
}

section.portfolio {
  background-color: #fff;
}

section.portfolio h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  display: inline-block;
}

.design-title {
  text-align: center;
}

.project-list:after {
  background: #4b6cc1;
  border-radius: 1000px;
  content: "";
  display: block;
  height: 6px;
  max-width: 45px;
  width: 100%;
}

section.portfolio .project {
  width: 100%;
  height: 200px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  transition: transform 0.2s;
  border: solid 0 #363b3a;
  border-radius: 7px;
}

section.portfolio .project:hover {
  transform: scale(1.1);
}

section.portfolio .project .overlay {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(8, 8, 8, 0.7);
  overflow: hidden;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
  border: solid 0 #363b3a;
  border-radius: 7px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section.portfolio .project .overlay h4 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  color: #ffffff;
}

section.portfolio .project:hover .overlay,
section.portfolio .project:focus .overlay,
section.portfolio .project:active .overlay {
  opacity: 0.4;
}

section.portfolio .project:hover .overlay h4 {
  opacity: 1;
}

section.contact {
  background-color: #1d1d1d;
}

section.contact h2 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #cdd7b6;
  text-transform: uppercase;
}

section.contact h3 a {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  /* color: #48A09B; */
  transition: color 0.3s linear;
}

section.contact h3 a:hover,
section.contact h3 a:focus,
section.contact h3 a:active {
  color: #48a09b;
}

section .vcenter {
  height: 100%;
}

section .vcenter .row {
  height: 100%;
  /* display: table; */
}

section .vcenter .row div[class^="col-"] {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

#button {
  display: inline-block;
  background-color: #363b3a;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}
/* End Home section styles */

/* Loader styles */
.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url("../img/fader_black.gif") center center no-repeat;
  z-index: 999;
}
/* End loader styles */

/* Project div overlay styles */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter {
  text-align: center;
  width: 100%;
}

.filter a {
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
  padding: 10px 18px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

html.fancybox-lock {
  overflow: visible !important;
}
.contact #connect-span {
  font-weight: 700;
  font-family: "Karla", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4b6cc1;
  transition: color 0.3s linear;
}
/* End project div overlay */

/* Button styles for project div */
.main-btn-rect,
.main-btn-circle {
  position: relative;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fffff0;
  background-color: rgb(75, 108, 193);
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  z-index: 100;
  border-radius: 8px;
}
.main-btn-rect {
  /* padding: 10px 80px; */
  /* line-height: 30px; */
}
.main-btn-rect:before,
.main-btn-rect:after {
  position: absolute;
  content: "";
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 240, 0.2);
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
.main-btn-rect:before {
  left: 0;
}
.main-btn-rect:after {
  right: 0;
}
.main-btn-rect:hover:before,
.main-btn-rect:hover:after {
  width: 50%;
}
.main-btn-circle {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  border-radius: 100%;
  line-height: 40px;
  -webkit-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.main-btn-circle:hover {
  -webkit-box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
  -moz-box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
  box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
}
/* End button styles for div */

/* Project Pop up styles */
.popup {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 10001;
  transition: background-color 0.02s, opacity 0.02s;
}
.popup.active {
  top: 0;
  background-color: rgba(3, 3, 3, 0.9);
  transition: background-color 0.1s, opacity 0.1s;
  transition: top 0s;
}
.popup .main-btn-rect {
  padding: 10px 100px;
}
.popup .popup-content {
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 320px;
  margin-top: 150px;
  padding: 25px;
  background-color: #fff;
  color: #070000;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transition: margin 0.6s;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -o-transition: margin 0.6s;
}
.popup.active .popup-content {
  margin-top: 0px;
}
.popup-content h6 {
  display: table;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

.popup-content h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.popup .fade-out {
  position: absolute;
  top: -20px;
  right: -20px;
  text-align: center;
  font-size: 15px;
}
/* End pop project div styles */

/* Fade in Div styles */
.fadeInRight {
  animation: fadeInRight 0.7s ease 0.1s both;
}

.fadeInLeft {
  animation: fadeInLeft 0.7s ease 0.1s both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* End fade in div styles */

/* Project button ripple effect */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

.hvr-ripple-out {
  background-color: #4b6cc1;
  cursor: pointer;
  border-radius: 40px !important;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  outline: none;
}

.hvr-ripple-out:before {
  content: "";
  position: absolute;
  border: #4b6cc1 solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  border-radius: 40px !important;
  outline: none;
}

.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
/* End project button ripple effect */

@media (min-width: 768px) {
  section.home-intro h1 {
    font-size: 90px;
  }

  section.home-intro h2 {
    font-size: 32px;
  }

  section.contact h2 {
    font-size: 28px;
  }

  section.contact h3 a {
    font-size: 42px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 14px;
  }
  .name-logo {
    width: 70%;
  }
  i.bounce-icons {
    font-size: 3em;
  }

  .popup-btn {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .profile-container {
    width: 400px !important;
  }
}

@media (max-width: 696px) {
  .profile-img {
    width: 225px;
  }
}

@media (prefers-reduced-motion) {
  .fadeInRight .animated {
    animation: unset !important;
    transition: none !important;
  }
}

@media (prefers-reduced-motion) {
  .fadeInLeft .animated {
    animation: unset !important;
    transition: none !important;
  }
}
